.main-header {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 100%;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");     
  background-color: #f97f58;
  text-align: center;
  color: white;
  padding-top:40px;
  margin-top: 120px;
}
.name {
  font-weight: 300;
}

@media only screen and (max-width: 1024px) {
  .main-header {
    height: 0px;
    visibility: hidden;
  }
  .main-header img {
   visibility: hidden;
  }
}